<footer class="footer">
  <p>&copy;2023 Nuvolaris Inc - <a href="https://nuvolaris.github.io/nuvolaris/3.0.0/installation/download.html">Download Nuvolaris Community</a></p>
  <p>Please report bugs in the <a href="https://github.com/nuvolaris/nuvolaris-bugs/issues">Issue Tracker</a></p>
  <p>Get help in our <a href="https://nuvolaris.discourse.group">Discussion Forum</a></a> </p>
</footer>