[submodule "0.2.2"]
	path = 0.2.2
	url = https://github.com/nuvolaris/nuvolaris-documentation
	branch = 0.2.2
[submodule "3.0.0"]
	path = 3.0.0
	url = https://github.com/nuvolaris/nuvolaris-documentation
